[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"

[help]
    autocorrect = 1

[advice]
    statusHints = false

[init]
    templatedir = ~/.git-template

[core]
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore-global
    attributesfile = ~/.gitattributes-global

[merge]
    stat = true

[user]
    name = Graham Christensen
    email = gchristensen@nationalfield.org

# The whitespace filter trims extra whitespace on the right side of files
[filter "whitespace"]
    smudge = rtrim
    clean = cat

[merge "text"]
    name = Text Cleanup driver
    driver = ~/bin/merge-text %A %O %B


[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
